---
---
@font-face
  font-family: "Ossem"
  src: url("fonts/ossem/Ossem-Regular.otf")

@font-face
  font-family: "Adys"
  src: url("fonts/adys/ADYS-Bold_V5-1.otf")

@font-face
  font-family: "Libra-Serif-Modern"
  src: url("fonts/libra-serif-modern/LibraSerifModern-Regular.otf")

body
  font-family: 'Ossem', serif

h1, h2
  font-family: 'Adys', sans-serif
