---
layout: default
title: Направи си сам
---
<div class="row">
  {% for post in site.categories["diy"] %}
    <div class="col-3">
      {% include card.html data=post %}
    </div>
  {% endfor %}
</div>
