<div class="card text-center">
  <div class="card-header">
    <a href="{{ include.data.url | prepend: site.baseurl }}">{{ include.data.title }}</a>
  </div>
  <img src="{{ include.data.picture }}" class="img-fluid">
  <div class="card-footer text-muted">
    {% include date.html date=include.data.date %}
  </div>
</div>
