<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ site.baseurl }}/index.html">{{ site.title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/recipes.html">Рецепти</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.baseurl }}/diy.html">Направи си сам</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
