<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="container">
      {% include header.html %}
      <div class="page-header">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="row">
        <div class="col">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
